---
import Button from "../components/Button.astro";
import MainLayout from "../layouts/main.astro";
import { Image } from "astro:assets";
import logo from "../images/king.svg";
---

<MainLayout title="King Development">
	<div class="grid place-items-center h-screen content-center">
		<Button>
			<Image
				src={logo}
				alt="King Development Logo"
				class="w-32 h-32 logo-svg"
				loading="eager"
			/>
		</Button>
		<h2
			class="text-white text-opacity-20 tracking-widest uppercase text-xs font-extralight"
		>
			Currently not accepting new clients
		</h2>
	</div>
</MainLayout>

<script>
	import anime from "animejs";

	document.addEventListener("DOMContentLoaded", () => {
		anime({
			targets: ".logo-svg",
			scale: [0.8, 1.2],
			easing: "easeInOutQuad",
			duration: 2000,
			strokeDashoffset: [anime.setDashoffset, 0],
		});
	});

  import { app } from "../firebase/client";
  import { getAnalytics } from "firebase/analytics";
  getAnalytics(app);

</script>
