---
import Button from "../components/Button.astro";
import MainLayout from "../layouts/main.astro";
---

<MainLayout title="Home Page">
	<div class="grid place-items-center h-screen content-center">
		<Button>Click Button, Get Stars</Button>
	</div>
</MainLayout>
