---
import Button from "../components/Button.astro";
import MainLayout from "../layouts/main.astro";
---

<MainLayout title="King Development">
	<div class="grid place-items-center h-screen content-center">
		<Button>Click Me</Button>
	</div>
</MainLayout>
