---
import Orb from "../components/Orb.astro";
import MainLayout from "../layouts/main.astro";
---

<MainLayout title="King Development">
	<div class="grid place-items-center h-screen content-center">
		<Orb/>
	</div>
</MainLayout>
