---
// Click button, get confetti!
// Styled by Tailwind :)
---

<button>
	<slot />
</button>

<script>
	import confetti, { type Options } from "canvas-confetti";

	const button = document.body.querySelector("button");

	if (button) {
		button.addEventListener("click", () => {
			[0, 100].forEach((delay) => setTimeout(shoot, delay));
		});
	}

	const defaults: Options = {
		spread: 360,
		ticks: 50,
		gravity: 0,
		decay: 0.93,
		startVelocity: 20,
		colors: ["FFE400", "FFBD00", "E89400", "FFCA6C", "FDFFB8"],
	};

	function shoot(): void {
		confetti({
			...defaults,
			particleCount: 80,
			scalar: 0.9,
			shapes: ["star"],
		});

		confetti({
			...defaults,
			particleCount: 20,
			scalar: 0.75,
			shapes: ["circle"],
		});
	}
</script>
